.empleo {
    background-color: #EDDED2;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.empleo-contenedor {
    position: relative;
    background-color: #F5C6B5;
    padding: 4rem;
    border-radius: 8rem;
    min-width: 40rem;
    min-height: 30rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    justify-content: center;
}

.empleo-contenedor form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 1.7rem;
    color: #00584A;
}

.empleo-contenedor form label {
    font-weight: 800;
}

.empleo h2 {
    font-size: 4rem;
    color: #00584A;
    text-align: center;
}

textarea {
    resize: none;
}

.empleo-inputs {
    background-color: #EDDED2;
    border: none;
    padding: 0.7rem;
    border-radius: 0.8rem;
    color: #00584A;
    font-size: 1.5rem;
}

.empleo-inputs:focus {
    outline: none;
}

.enviar-boton-container {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-top: 2rem;
}

.boton-enviar {
    text-decoration: none;
    background-color: #EDDED2;
    color: #00584A;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 2rem;
    transition: background-color 0.1s, color 0.1s;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    cursor: pointer;

}

.boton-enviar:hover {
    background-color: #00584A;
    color: #EDDED2;
}

.upload-cv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.upload-cv > input[type="file"] {
    display: none;
}

.upload-cv img {
    height: 2rem;
}

.file-upload-cv {
    display: inline-block;
    padding: 1rem;
    color: #00584A;
    border-radius: 3rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

form .upload-cv label {
    font-weight: 400;
    font-size: 1.5rem;
}

.mensaje-exito {
    color: #00584A;
    font-size: 1.5rem;
}

.mensaje-error {
    color: red;
    margin-top: 1.5rem;
}
@media (max-width: 768px) {
    .empleo-contenedor {
        flex-direction: column;
        padding: 2rem;
        border-radius: 2rem;
        min-width: auto;
        min-height: auto;
        margin-bottom: 2rem; /* Añade un margen inferior al contenedor */
    }

    .boton-enviar {
        font-size: 1.4rem;
        padding: 0.5rem 1.5rem;
    }

    .empleo h2 {
        font-size: 2.5rem;
    }

    .enviar-boton-container {
        margin-top: 2rem; /* Asegura espacio antes del footer */
        margin-bottom: 3rem; /* Añade espacio adicional debajo del botón */
    }
}