@font-face {
    font-family: 'Golfmind';
    src: url('../../src/assets/fonts/Golfmind.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../../src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    font-feature-settings: "pnum" on, "lnum" on;
    box-sizing: border-box;
    font-family: 'Poppins';

}

#root {
    background: #EDDED2;
}

.containerLoged{
    display: flex;
    width: 100%;
}

.containerLoged > .wrapperContent{
    width: 100%;
    padding: 3rem;
}

/* 
#root::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
}

#root::-webkit-scrollbar-thumb {
    background: #00584A;
    border-radius: 1rem;
}

#root::-webkit-scrollbar-thumb:hover {
    background: #24252590;
    scale: 1.05;
} */


/* #region Instalar app boton */
.panelInstallAppWrapper{
    position: fixed;
    background-color: #000;
    padding: 2rem;
    width: fit-content;
    max-width: 20vw;
    right: 0;
    top: 15vh;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .6rem;
}

.panelInstallAppWrapper>h3{
    color: #EDDED2;
    font-weight: 400;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    font-family: poppins;
    text-align: center;
}
.panelInstallAppWrapper>h3.textAction{
    font-weight: 600;
    font-size: clamp(1rem, 1.1vw, 1.4rem);
}

.panelInstallAppWrapper>.install-button{
    margin-top: 1rem;
    width: 100%;
    height: 4rem;
    padding: 0;
    padding: .7rem;
}

.panelInstallAppWrapper>.install-button > img{
    width: 100%;
    height: 100%;
}

/* #endregion */

/* #region Header */
header>.wrapperLinkLogo {
    text-decoration: none;
    cursor: pointer;

}

header {
    background-color: #EDDED2;
    padding: 20px;
    display: flex;
    /* position: fixed;
    z-index: 1000; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    min-height: 70px;
    max-height: 90px;
}

*::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #24252590;
    border-radius: 1rem;
}

.wrapperLinkLogo>.logo-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrapperLinkLogo>.logo-title>h1 {
    font-family: 'Golfmind', sans-serif;
    color: #00584A;
    font-size: clamp(25px, 2.8vw, 40px);
    font-weight: 400;
}

.wrapperLinkLogo>.logo-title>.logo {
    width: 5vw;
    max-width: 100px;
    min-width: 60px;
    margin-left: 3rem;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

nav>ul>li {
    padding: 5px 15px;
    border-radius: 30px;
    text-decoration: none;
    color: #00584A;
    font-weight: 400;
    font-size: clamp(13px, 1.5vw, 18px);
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

nav>ul>li:hover {
    background-color: #00584A;
    color: #EDDED2;
}


nav>ul>li#itemLogin {
    background-color: #F5C6B5;
    color: #00584A;
    font-weight: 700;
    transition: background-color 0.1s, color 0.1s;
    cursor: pointer;

}

nav>ul>li#itemLogin:hover {
    background-color: #00584A;
    color: #F5C6B5;
}

/* #endregion */


/* #region SideBar */
.containerLoged > aside{
    min-width: 10rem;
    height: 100vh;
    padding: 1rem;

}
.containerLoged > aside #buttonShowSideBar,
.containerLoged > aside #buttonHiddenSideBar{
    min-width: 4rem;
    min-height: 4rem;
    max-width: 6rem;
    max-height: 6rem;
    position: fixed;
    background-color: transparent;
    outline: none;
    width: 3.5vw;
    height: 3.5vw;
    padding: 0;
}
.containerLoged > aside #buttonHiddenSideBar{
    position: unset;
}
.containerLoged > aside> #buttonShowSideBar > img,
.containerLoged > aside #buttonHiddenSideBar> img{
    width: 100%;
    height: 100%;
}


  
  .sidebar-nav {
    background: #00584A;
    width: 20vw;
    max-width: 40rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all .2s ease;
    z-index: 100;
  }
  
  .sidebar-nav.active {
    left: 0;
  }
  
  .sidebar-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    color: #EDDED2;
    padding: 3rem;
  }
  .sidebar-wrap > ul{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
  }
  
  .list-item img {
    width: 15%;
    max-width: 3.5rem;
  }
  
  .user-profile-sideBar {
    position: relative;
    margin-top: auto;
  }
  
  
  .user-menu-sideBar {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  #buttonLogout-sideBar{
    background-color: transparent;
    padding: .4rem 2rem;
    border: none;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    background-color: #EDDED2;
    color: #00584A;
    outline: none;
    cursor: pointer;
  }

/* #endregion */

/*#region FOOTER*/
.footer {
    background-color: #00584A;
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    /* column-gap: 27rem; */
    align-items: center;
    color: #F5C6B5;
    padding: 2rem 5rem 2rem 5rem;
    border-top: 0.1rem solid;
}

.footer-logo {
    height: 10rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    max-width: 26rem;
}


.footer-section h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.social-icons a img {
    height: 5rem;
    padding: 1rem;
}

.footer-section-mail {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.footer-section-mail img {
    height: 2rem;
    margin-right: 0.3rem;
}

.footer-links {
    list-style-type: none;
    font-size: 1.5rem;
}

.footer div ul li {
    margin-bottom: 1rem;
    text-align: right;
}

.footer-links-elemento {
    text-decoration: none;
    font-weight: 400;
    color: #F5C6B5;
}

/*#endregion  */


/* #region menu Profile */

.user-profile {
    position: relative;
    cursor: pointer;
}

.user-menu {
    position: absolute;
    background-color: #fff;
    /* border: 2px solid #fff; */
    border-radius: 5px;
    padding: 15px;
    list-style-type: none;
    top: 100%;
    /* Ajusta según sea necesario */
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-menu>li {
    text-decoration: none;
    color: #00584A;
    font-weight: 400;
    font-size: clamp(13px, 1.3vw, 16px);
    white-space: nowrap;

}

.user-menu>li:hover {
    text-decoration: underline;
}

#buttonLogout {
    background-color: #00584A;
    color: #EDDED2;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

/* #endregion */


/* #region Libreria de popups */
.swal2-popup * {
    font-size: clamp(14px, 1.1vw, 17px) !important;

}

.swal2-popup #swal2-title {
    font-size: clamp(16px, 1.6vw, 22px) !important;
}

.swal2-popup .swal2-icon-content {
    font-size: clamp(18px, 1.6vw, 25px) !important;
}

/* #endregion */



/* #region NavBar PWA */

.bottomNavWrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #EDDED2;
    height: 6rem;
}

/* #endregion */