.register {
    background-color: #00584A;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-contenedor {
    position: relative;
    background-color: #55887B;
    padding: 5rem;
    border-radius: 8rem;
    min-width: 63rem;
    min-height: 27rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.user-image {
    position: absolute;
    top: -15%;
    width: 10rem;
}

.register-contenedor form {
    margin-top: 2rem;
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-size: 1.7rem;
    color: white;
}

.register input[type="email"],
.register input[type="password"],
.register input[type="text"] {
    background-color: #C2B2A2;
    border: none;
    padding: 0.7rem;
    border-radius: 0.8rem;
    color: #00584A;
    font-size: 1.5rem;
}

.register input[type="email"]:focus,
.register input[type="password"]:focus,
.register input[type="text"]:focus {
    outline: none;
    background-color: #C2B2A2;
}

.register-boton-container {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.boton-ingresar {
    margin-top: 2rem;
    text-decoration: none;
    background-color: #F5C6B5;
    color: #00584A;
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.boton-ingresar:hover {
    background-color: #00584A;
    color: #EDDED2;
}

.upload-pic {
    background-color: #F5C6B5;
    border-radius: 15rem;
    height: 24rem;
    width: 24rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00584A;
    color: #fff;
    border-radius: 3rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.custom-file-upload:hover {
    background-color: #4a756b;
}

.mensaje-exito {
    color: #00584A;
    font-size: 1.2rem;
}

.mensaje-error {
    color: red;
    font-size: 1.2rem;
}

/* Responsividad para móviles */
@media (max-width: 480px) {
    .register-contenedor {
        padding: 2rem;
        border-radius: 2rem;
        flex-direction: column;
    }

    .user-image {
        width: 6rem;
        top: -20%;
    }

    .register-contenedor form {
        font-size: 1.2rem;
        min-width: 100%;
    }

    .upload-pic {
        height: 18rem;
        width: 18rem;
        margin: 0 auto;
    }

    .boton-ingresar {
        font-size: 1.2rem;
        padding: 5px 15px;
    }
}