.wrapperContentAdminServices{
    padding: 2rem;
    width: 100%;
}
.wrapperContentAdminServices > h1{
    color: #00584A;
    font-size: clamp(3rem, 2.4vw, 4.5rem);
}

.wrapperContentAdminServices > form > .inputsWrapper{
    display: flex;
    padding: 1rem;
    border: 2px solid #00584A;
    /* justify-content: spa; */
    align-items: center;
    gap: 2rem;
    border-radius: .8rem;
    margin-bottom: 2rem;
}

.wrapperContentAdminServices > form > .inputsWrapper input[type="text"],
.wrapperContentAdminServices > form > .inputsWrapper input[type="number"]{
    background-color: transparent;
    color: #00584A;
    border: 1px solid #00584A;
    outline: none;
    padding: .5rem;
    border-radius: 8px;
    font-size: clamp(1.4rem, 1.2vw, 1.7rem);
}

.wrapperContentAdminServices > form > .inputsWrapper> select {
    background-color: transparent;
    color: #00584A;
    border: 1px solid #00584A;
    padding: .5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: clamp(1.4rem, 1.2vw, 1.7rem);
}

.wrapperContentAdminServices > form > .inputsWrapper #buttonSubmitServicio{
    margin-left: auto;
    font-size: clamp(1.4rem, 1.2vw, 1.7rem);

    background-color: #00584A;
    color: #EDDED2;
    padding: .7rem 1.8rem;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border-color: transparent;
    font-family: "Poppins";
    height: fit-content;
    white-space: nowrap;
    
}

ul.wrapperListServices {
    list-style: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul.wrapperListServices>li {
    border: #00584A 2px solid;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
}

ul.wrapperListServices>li>div.coreInfoContainer {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

ul.wrapperListServices>li>div.coreInfoContainer>div.containerInfo {
    width: 23%;
    color: #005849e1;
    font-size: clamp(10px, 0.9vw, 15px);
}

ul.wrapperListServices>li>button {
    background-color: #00584A;
    color: #EDDED2;
    padding: 3px 10px;
    border-radius: 8px;
    font-size: clamp(10px, 1vw, 15px);
    cursor: pointer;
    outline: none;
    border-color: transparent;
    font-family: "Poppins";
    height: fit-content;
}

